
#btnDeck{
    -fx-background-size: cover;
    -fx-background-color: darkgreen;
}

#lblBottom{
    -fx-font-size: 25;
    -fx-padding: 20;
}
#gridpaneGame{
    -fx-background-color: darkgreen;
}
.menu{
    -fx-font-size:20;

}
.menu:hover, .menu-item:hover,.menu:armed{
    -fx-background-color: lightgray;
}
#borderpaneStart{
    -fx-background-color: black;
}


/**
GamePresenter opmaak
 */
/*
#aboutTextOpmaak {
    -fx-font: 100px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}*/
